{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>sketchguess</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        canvas {
            border: 2px solid rgb(39, 19, 168);
        }
    </style>
  </head>
<body>
  <header>
      <nav class="navbar">
          <div class="logo">
              <a href="#">sketchguess</a>
          </div>
      </nav>
  </header>

      

    <main>
      <div id="canvasContainer">
        <canvas id="sketchpad" width="280" height="280"></canvas>
      </div>
      <button id="clearButton">Clear</button>
      <button id="saveButton">Guess!</button>

      <div>
        <div id="data">{{ data }}</div>
        <div id="formattedData">Prediction: {{ data }}</div>

      </div>

    </main>

    <footer>
        <p>&copy; 2023 Trent Hudgens</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
